.wrapper.data_screen_container ul{
    
    background-color: grey;

    width: 7rem;

    margin-inline: auto;
}

.wrapper.data_screen_container{
    
    display: flex;

    flex-wrap: wrap;
}

.wrapper.data_screen_container li{

    text-align: center;

    margin-left: -2.5rem;


}

