.wrapper.header_container {

    background-color: red;

    margin-top: -1rem;
}

.wrapper.header_container ul {
    display: flex;

    align-items: center;
    gap: 2rem;
}

.wrapper.header_container h1{

    font-size: 3rem;
}