.wrapper.menu_container {

    background-color: #E85151;

    padding-bottom: 2rem;
    height: fit-content;
    margin-top: -1.4rem;
}

.wrapper.menu_container .top_bar{
    
    display: flex;
    align-items: center;

    justify-content: space-evenly;
    margin-left: 5rem;
}

ul.top_bar h1{

    font-size: 3em;
}

#oppened_menu,
#closed_menu {
    
    margin-left: 1rem;
}

#oppened_menu::before {

    display: block;
    position: relative;

    width: 1rem;

    margin-bottom: -3.5rem;
    margin-left: -1rem;
    
    content: "-";
    font-size: 2rem;
}

#closed_menu::before {

    display: block;
    position: relative;

    width: 1rem;

    margin-bottom: -3.5rem;
    margin-left: -1.5rem;
    
    content: "+";
    font-size: 2rem;
    
}

.hide_it {
    display: none;
}

.show_it {

    display: block;
}

.hide_menu {

    display: none;
}


.material-icons {

    font-size: 3rem;
}

ul.menu_closed {
    display: none;
}

.menu_closed {
    display: none;
}

.menu_itens {
    margin-left: 2rem;

    font-size: 1rem;
}