.wrapper.menu_container {

    background-color: grey;

    height: 50vh;
    margin-top: -1.4rem;
}

.wrapper.menu_container .top_bar{
    
    display: flex;
    align-items: center;

    justify-content: space-around;
    margin-left: 5rem;
}

ul.top_bar h1{

    font-size: 3em;
}

.hide_it {
    display: none;
}

.show_it {

    display: block;
}

.hide_menu {

    display: none;
}


.material-icons {

    font-size: 3rem;
}

ul.menu_closed {
    display: none;
}

.menu_closed {
    display: none;
}

.menu_itens {
    margin-left: 2rem;
}